In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# 1. Load the Excel file
file_path = "Dummy_Data.xlsx" 
df = pd.read_excel(file_path, sheet_name="Sheet1")

# 2. Connection String with the ARABIC ENCODING FIX
# We use utf8mb4 to ensure Governorates and Names don't turn into ????
engine = create_engine('mysql+mysqlconnector://root:your_password@localhost:3306/halan?charset=utf8mb4')

# 3. Clean column names 
# Replaces spaces with underscores so SQL queries are easier to write because excel heading have alot of spaces 
# it was bad partice working with it after 
df.columns = [c.replace(' ', '_') for c in df.columns]

# 4. Push the data (No chunks)
try:
    # 'replace' will drop the table and recreate it fresh each time
    df.to_sql('raw_import_table', con=engine, if_exists='replace', index=False)
    print("Success! 1 Million rows pushed to raw_import_table with utf8mb4 encoding.")
except Exception as e:
    print(f"Error: {e}")

# Before i even started i experimented a little bit with the data i found that 
1. while querying the count of orders for  customers that same customer could have different profiles
2. there is some null or not one value columns that were removed from the tables

![Screenshot 2026-01-21 103720.png](images/Screenshot 2026-01-21 103720.png)

# all the recognizable changes from the final ERD here
1. trip are connected to the custoumer which is not correct as it makes it many to many relationship 
2. warehouse are not connected to anything
3. understanding the differences between subregion, region, and goverenorate

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://root:password$@localhost:3306/halan

In [ ]:
%%sql
INSERT INTO 
    Accounts (CustomerCode)
SELECT DISTINCT 
    `Customer Code`
FROM 
    raw_import_table
WHERE 
    `Customer Code` IS NOT NULL;

while trying to figure out the length for the data i found out that 
1. some customer actully put notes and their address in the name MAX = 95
2. CustomerPhoneNumber was missing 0 at the start i think it is excel format problem and some or missing 1 or two numbers while some start with country code and that the maxium i think was 11 number that made customer entering coutry code miss numbers so what is the standard for storing numbers?
3. Google's libphonenumber to validate and parse phone numbers good note for the future
4. customer tend to write notes in the any valid space like name address , address MAX =935
5. FOREIGN KEY REFERENCES for LocationID after Creating location table loading its data  good note for the future

so now while examining the location/warehouse data there was some changes where there is division of Region/SubRegion and other modifications because of the next problems
1. while tring to visualize the data of Governorate there was typo error in الإسكندرية/الاسكندريه the warehouses/hub where there is customers in alex the data warehouse was in nasr city while hub was in alx that was less than 1 percent was all from الإسكندرية typo so i don't now 
2. Region: This is the administrative "Home" of a warehouse
3. The Warehouse is a physical building. It doesn't care about "Active/Inactive" status; it just exists.
4. The SubRegion is a digital boundary "Delivery Zones" served by warehouse we can turn a neighborhood "Off" without closing the whole Warehouse.
5. where to put the routename in subregion,region,or in trip

![Screenshot 2026-01-22 104912.png](images/Screenshot 2026-01-22 104912.png)

In [ ]:
%%sql
-- Populate Warehouse
INSERT INTO Warehouse (Warehouse, HubName)
SELECT DISTINCT `Warehouse`, `Hub Name` FROM `raw_import_table`;

-- Populate PaymentMethod
INSERT INTO PaymentMethod (PaymentMethod)
SELECT DISTINCT `Payment Method` FROM `raw_import_table`;ata_staging;

In [ ]:
%%sql
INSERT INTO Vehicle (
    VehicleType, 
    VehicleNumber, 
    VehicleSourceType, 
    VehicleOutsourcingCompany
)
SELECT DISTINCT 
    `Vehicle Type`, 
    `Vehicle Number`, 
    `Vehicle Source Type`, 
    `Vehicle Outsourcing Company`
FROM raw_import_table
WHERE `Vehicle Number` IS NOT NULL;

INSERT INTO ShippingRepresentative (
    ShippingRepresentativeName, 
    ShippingRepresentativeType, 
    OutsourcingCompany
)
SELECT DISTINCT 
    `Shipping Representative Name`, 
    `Shipping Representative Type`, 
    `Outsourcing Company`
FROM raw_import_table
WHERE `Shipping Representative Name` IS NOT NULL;

# here i faced two problem 
1. the different encoding problem collations (utf8mb4_0900_ai_ci,IMPLICIT) and (utf8mb4_unicode_ci,IMPLICIT)
2. TRIP number had T letter at the start of it so was changed to be string not integer

In [ ]:
%%sql
ALTER TABLE raw_import_table CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci; 
-- in these phase i didn't understand that utf8mb4_0900_ai_ci are superior to utf8mb4_unicode_ci 
-- but i just needed all my tables to have the same encoding to not encouter the same problem

# here to evade errors to change the datatype
1. i needed to diable the foreign key check 
2. delete the foreign key

In [ ]:
%%sql
-- 1. Disable foreign key checks so we can change types without errors
SET FOREIGN_KEY_CHECKS = 0;
-- 2. Drop the existing foreign key constraint from the Customer table
ALTER TABLE Customer DROP FOREIGN KEY customer_ibfk_3;

-- 3. Change TripNumber to VARCHAR(100) in the Trip table (The Parent)
ALTER TABLE Trip 
MODIFY COLUMN TripNumber VARCHAR(100);

-- 4. Change TripNumber to VARCHAR(100) in the Customer table (The Child)
ALTER TABLE Customer 
MODIFY COLUMN TripNumber VARCHAR(100);

-- 5. Re-add the foreign key constraint
ALTER TABLE Customer 
ADD CONSTRAINT customer_ibfk_3 
FOREIGN KEY (TripNumber) REFERENCES Trip(TripNumber);
-- 6. Re-enable foreign key checks
SET FOREIGN_KEY_CHECKS = 1;

In [ ]:
%%sql
INSERT INTO Trip (
    TripNumber, 
    RouteName, 
    VehicleID, 
    ShippingRepresentativeID
)
SELECT DISTINCT 
    r.`Trip Number`, 
    r.`Route Name`, 
    v.VehicleID, 
    sr.ShippingRepresentativeID
FROM raw_import_table AS r
JOIN Vehicle v ON r.`Vehicle Number` = v.VehicleNumber
JOIN ShippingRepresentative sr ON r.`Shipping Representative Name` = sr.ShippingRepresentativeName
WHERE r.`Trip Number` IS NOT NULL;

# after reconsideration with the following query 
# it was decided the route-names are more suited for the subregion entity

In [ ]:
a test to know where to put routes

In [ ]:
%%sql
SELECT 
    `SubRegion`, 
    COUNT(DISTINCT `Route Name`) as Routes,
    COUNT(DISTINCT `Governorate`) as Governorate,
    COUNT(DISTINCT `Region`) as Region
FROM raw_import_table
GROUP BY `SubRegion`
HAVING COUNT(*) > 1 AND (Routes > 1 OR Governorate > 1 OR Region > 1);

# The lastest ERD 
![Screenshot 2026-01-23 074059.png](images/Screenshot 2026-01-23 074059.png)

In [ ]:
%%sql
-- disable foreign key checks for errors
SET FOREIGN_KEY_CHECKS = 0;

DROP TABLE SubRegions;
CREATE TABLE SubRegions (
    SubRegionID INT AUTO_INCREMENT PRIMARY KEY,
    SubRegion VARCHAR(255) NOT NULL,
    Region VARCHAR(255),
    Governorate VARCHAR(255),
    RouteName VARCHAR(1024), -- Moved here
    IsAppVisible BOOLEAN DEFAULT TRUE,
    IsDeliveryActive BOOLEAN DEFAULT TRUE
) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- Re-add the foreign key constraint
ALTER TABLE location 
ADD CONSTRAINT location_subregions_fk 
FOREIGN KEY (SubRegionID) REFERENCES SubRegion(SubRegionID);

DROP TABLE Trip;
CREATE TABLE Trip (
    TripNumber VARCHAR(100) PRIMARY KEY, -- Kept as VARCHAR for your alphanumeric IDs
    VehicleID INT,
    ShippingRepresentativeID INT,
    FOREIGN KEY (VehicleID) REFERENCES Vehicle(VehicleID),
    FOREIGN KEY (ShippingRepresentativeID) REFERENCES ShippingRepresentative(ShippingRepresentativeID)
) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- Re-enable foreign key checks
SET FOREIGN_KEY_CHECKS = 1;

# Problem
while inserting trip number there was an IntegrityError which means there is inconsistencies

In [ ]:
%%sql
-- this query  to test if the uniqueness of the strings of Vehicle and Representative tables in the trips was any duplicated
SELECT
    `Trip Number`,
    COUNT(DISTINCT `Shipping Representative Name`) AS Representative_count,
    COUNT(DISTINCT `Shipping Representative Type`) AS Representative_count_2,
    COUNT(DISTINCT `Outsourcing Company`) AS Representative_count_3,
    COUNT(DISTINCT `Vehicle Type`) AS Vehicle_count,
    COUNT(DISTINCT `Vehicle Number`) AS Vehicle_count_2,
    COUNT(DISTINCT `Vehicle Source Type`) AS Vehicle_count_3,
    COUNT(DISTINCT `Vehicle Outsourcing Company`) AS Vehicle_count_4
FROM 
    raw_import_table 
GROUP BY
    `Trip Number`
HAVING
    Vehicle_count>1 OR Vehicle_count_2>1 OR Vehicle_count_3>1 OR Vehicle_count_4>1 
OR 
    Representative_count>1 OR Representative_count_2>1 OR Representative_count_3>1

# The below query
1. tests the IDs (the foreign keys), not just the names.
2. identifies the specific Trip Number that is trying to link to two different records in your Vehicle or Representative tables.

In [ ]:
%%sql
SELECT 
    r.`Trip Number`, 
    COUNT(DISTINCT v.VehicleID) as Unique_Vehicles_Found,
    COUNT(DISTINCT sr.ShippingRepresentativeID) as Unique_Reps_Found
FROM raw_import_table r
JOIN Vehicle v ON r.`Vehicle Number` = v.VehicleNumber
JOIN ShippingRepresentative sr ON r.`Shipping Representative Name` = sr.ShippingRepresentativeName
GROUP BY r.`Trip Number`
HAVING Unique_Vehicles_Found > 1 OR Unique_Reps_Found > 1;

# inconsistent found 
the data have 35539 row from 1741692 row inconsistent about 2 percent where there is other driver and other Vehicles

# The cause 
the messy insert part were both insert the child tables that twice

In [ ]:
%%sql
-- Empty them out
SET FOREIGN_KEY_CHECKS = 0;
TRUNCATE TABLE ShippingRepresentative;
TRUNCATE TABLE Vehicle;
SET FOREIGN_KEY_CHECKS = 1;

-- Re-insert with DISTINCT to ensure absolute uniqueness
INSERT INTO ShippingRepresentative (ShippingRepresentativeName, ShippingRepresentativeType, OutsourcingCompany)
SELECT DISTINCT `Shipping Representative Name`, `Shipping Representative Type`, `Outsourcing Company`
FROM raw_import_table;

INSERT INTO Vehicle (VehicleType, VehicleNumber, VehicleSourceType, VehicleOutsourcingCompany)
SELECT DISTINCT `Vehicle Type`, `Vehicle Number`, `Vehicle Source Type`, `Vehicle Outsourcing Company`
FROM raw_import_table;

# there it is our problem 
1. the data we are getting the table from are transactional which means there could happen that there is some missing data
2. which means the same vehichle could duplicates because of missing name in one transcation
3. lets do a little detictive work 1 total null row, 28 missing Vehicle Type,974 missing Vehicle Outsourcing Company out of total 1124
4. 1 total null row in ShippingRepresentative table

In [ ]:
%%sql
SELECT  
    `Vehicle Type`, 
    `Vehicle Number`, 
    `Vehicle Source Type`,
    `Vehicle Outsourcing Company`
FROM raw_import_table
WHERE
`Vehicle Number` IN
('9999', '9090', '90013','8080', '6666', '6061', '6060', '5050', '4040', '3750 ط د ل','22222','2023 ح و ر','2014', 
'2012','2010', '2009', '2007', '2006', '2005', '2003', '2002', '1995 م م م', '1620 ن ف ف','1111 ض ض ض','101011','10011', 
'10009' ) -- the Vehicles missing the Type
AND 
`vehicle type` IS NOT NULL

# Insights 
1. first of all i think i should restructure the vehicle table as the the type and outsource company add the company name but for now lets just replace the null 
2. the reason for the total null row was it from the data were orders wasn't assigned vehicle or rep yet or canceled i think
3. the 28 missing Vehicle Type are not because of error in transcational data it is missing so we will send to the mangement to audit nk

In [ ]:
%%sql
INSERT INTO Vehicle (
    VehicleType, 
    VehicleNumber, 
    VehicleSourceType, 
    VehicleOutsourcingCompany
)
SELECT DISTINCT 
    
    COALESCE(`Vehicle Type`, 'Unknown Type'),  -- Handle missing Vehicle Type
    `Vehicle Number`, 
    `Vehicle Source Type`,
    COALESCE(`Vehicle Outsourcing Company`, 'Halan')  -- Handle missing Company
FROM raw_import_table
WHERE `Vehicle Number` IS NOT NULL;

In [ ]:
%%sql
INSERT INTO Trip (
    TripNumber, 
    VehicleID, 
    ShippingRepresentativeID
)
SELECT DISTINCT 
    r.`Trip Number`,  
    v.VehicleID, 
    sr.ShippingRepresentativeID
FROM raw_import_table AS r
JOIN Vehicle v ON r.`Vehicle Number` = v.VehicleNumber
JOIN ShippingRepresentative sr ON r.`Shipping Representative Name` = sr.ShippingRepresentativeName
WHERE r.`Trip Number` IS NOT NULL;

# The New ERD
![Screenshot 2026-01-23 074059.png](images/Screenshot 2026-01-23 074059.png)

In [ ]:
%%sql
INSERT INTO CashBack (NetSalesBeforeCashback, RedeemedCashback, NetSalesAfterCashback, CreditUsed, ReturnedCashback)
SELECT 
    `Net Sales Before Cashback`, `Redeemed Cashback`, `Net Sales After Cashback`, `Credit Used`, `Returned Cashback`
FROM raw_import_table;

In [ ]:
%%sql
INSERT INTO Sales (GrossSales, ProductsPromotions, DiscountOnInvoice, CustomerExperienceDiscount, ReturnsGrossSales)
SELECT 
    `Gross Sales`, `Products Promotions`, `Discount On Invoice`, `Customer Experience Discount`, `Returns Gross Sales`
FROM raw_import_table;

here i faced the encoding problem again which was getting kind of annoying so i tried to figure out the collation of all my tables then unified my tables collation

In [ ]:
%%sql
SELECT 
	warehouseID 
FROM 
	halan.warehouse AS rt
LEFT JOIN 
	halan.stg_subregions AS sr ON sr.warehouse=rt.WareHouse

In [ ]:
%%sql
SELECT table_name, table_collation 
FROM information_schema.tables 
WHERE table_schema = 'halan';

so while inserting the warehouse and quering it i get master data of all of the subregions and regions and was confused as i got a lot 
more subregions and regions

In [ ]:
%%sql
INSERT INTO warehouse (Warehouse)
SELECT DISTINCT Warehouse 
FROM stg_subregions 
WHERE Warehouse NOT IN (SELECT Warehouse FROM warehouse);

In [ ]:
%%sql
-- 222623 rows affected Total transcational rows 
-- 2283 rows affected from 2277 stg_subregions which means route_name are sub-region dependent
-- only 228 rows are relevent to our data
SELECT DISTINCT
    s.`Sub-Region`,s.Region ,s.Governorate , t.`Route Name`,
    CASE 
        WHEN IsAppVisible='check_circle' THEN 1
        WHEN IsAppVisible='cancel' THEN 0
        ELSE NULL
        END AS IsAppVisible,
    CASE 
        WHEN IsDeliveryActive='Active' THEN 1
        WHEN IsDeliveryActive='InActive' THEN 0
        ELSE NULL
        END AS IsDeliveryActive
    
FROM
    stg_subregions AS s
LEFT JOIN
    raw_import_table AS t ON s.Governorate=t.Governorate AND s.Region=t.Region AND s.`Sub-Region`=t.SubRegion    
WHERE s.`Sub-Region` IS NOT NULL AND t.SubRegion IS NOT NULL

In [ ]:
%%sql
TRUNCATE TABLE subregions;
INSERT INTO 
    subregions(SubRegion ,RouteName ,IsAppVisible ,IsDeliveryActive)
SELECT DISTINCT
    s.`Sub-Region`, t.`Route Name`,
    CASE 
        WHEN IsAppVisible='check_circle' THEN 1
        WHEN IsAppVisible='cancel' THEN 0
        ELSE NULL
        END AS IsAppVisible,
    CASE 
        WHEN IsDeliveryActive='Active' THEN 1
        WHEN IsDeliveryActive='InActive' THEN 0
        ELSE NULL
        END AS IsDeliveryActive    
FROM
    stg_subregions AS s
LEFT JOIN
    raw_import_table AS t ON s.Governorate=t.Governorate AND s.Region=t.Region AND s.`Sub-Region`=t.SubRegion    
WHERE s.`Sub-Region` IS NOT NULL AND t.SubRegion IS NOT NULL;

In [ ]:
%%sql
SELECT DISTINCT
    r.Governorate ,r.Region,w.WareHouseID,
    CASE 
        WHEN r.IsAppVisible='check_circle' THEN 1
        WHEN r.IsAppVisible='cancel' THEN 0
        ELSE NULL
        END AS IsAppVisible
FROM
    stg_regions AS r
LEFT JOIN
    raw_import_table AS t ON r.Governorate=t.Governorate AND r.Region=t.Region  
LEFT JOIN
    warehouse AS w ON w.WareHouse=r.WareHouse
WHERE r.Region IS NOT NULL AND t.Region   IS NOT NULL

In [ ]:
%%sql
-- 1. disable checks 
SET FOREIGN_KEY_CHECKS = 0;
-- 2. the schema changes 
ALTER TABLE location DROP FOREIGN KEY location_subregions_fk;
ALTER TABLE location DROP COLUMN SubRegionID;
ALTER TABLE subregions DROP COLUMN Region;
ALTER TABLE subregions DROP COLUMN Governorate;
ALTER TABLE subregions ADD COLUMN locationID INT;
-- 3. re-enable checks
SET FOREIGN_KEY_CHECKS = 1;

In [ ]:
%%sql
ALTER TABLE subregions MODIFY locationID INT,
ADD CONSTRAINT fk_location 
FOREIGN KEY (locationID) REFERENCES location(locationID);

In [ ]:
%%sql
INSERT INTO 
    location(Governorate ,Region ,IsAppVisible ,WareHouseID)
SELECT DISTINCT
    r.Governorate ,r.Region,
    CASE 
        WHEN r.IsAppVisible='check_circle' THEN 1
        WHEN r.IsAppVisible='cancel' THEN 0
        ELSE NULL
        END AS IsAppVisible,
    w.WareHouseID
FROM
    stg_regions AS r
LEFT JOIN
    raw_import_table AS t ON r.Governorate=t.Governorate AND r.Region=t.Region  
LEFT JOIN
    warehouse AS w ON w.WareHouse=r.WareHouse
WHERE r.Region IS NOT NULL AND t.Region IS NOT NULL

In [ ]:
%%sql
UPDATE subregions AS sub
JOIN stg_subregions AS stg 
    ON sub.SubRegion = stg.`Sub-Region`  
JOIN location AS l 
    ON stg.Governorate = l.Governorate 
    AND stg.Region = l.Region
SET sub.locationID = l.locationID;

In [ ]:
%%sql
INSERT INTO Customer (CustomerName, CustomerPhoneNumber, CustomerAddress, AccountID, LocationID)
SELECT DISTINCT 
    r.`Customer Name`, 
    r.`Customer Phone Number`, 
    r.`Customer Address`, 
    a.AccountID, 
    l.LocationID
FROM raw_import_table r
JOIN Accounts a ON r.`Customer Code` = a.CustomerCode
JOIN Location l ON r.Region = l.Region AND r.Governorate=l.Governorate
JOIN subregions sr ON r.SubRegion=sr.SubRegion AND r.`Route Name`=sr.RouteName; -- Assuming SubRegion is your link

In [ ]:
%%sql
INSERT INTO customerservice (CustomerServiceNotes, CustomerNotes)
SELECT DISTINCT 
    `CustomerService Notes`, 
    `Customer Notes`
FROM raw_import_table

# the last ERD 
adding the last piece to make the order a fact table or what is thought
![Screenshot 2026-01-23 074059.png](images/Screenshot 2026-01-23 074059.png)

In [ ]:
%%sql
SET FOREIGN_KEY_CHECKS = 0;

ALTER TABLE Orders MODIFY COLUMN TripNumber varchar(100);

ALTER TABLE Orders 
ADD CONSTRAINT fk_orders_trip 
FOREIGN KEY (TripNumber) REFERENCES Trip(TripNumber)
-- new functions of DDL 
ON DELETE SET NULL -- The Package Remains 
ON UPDATE CASCADE ;  -- Follow the Leader

SET FOREIGN_KEY_CHECKS = 1;

In [ ]:
runtimer error again because of the order tables

In [ ]:
%%sql
INSERT INTO Orders (
    OrderNumber, OrderStatus, CreationDate, DeliveryDate, 
    TotalOrderWeight, OrderVia, CreatedBy, 
    ProfileID, PaymentMethodID, SalesID, CashBackID, TripNumber
)
SELECT 
    r.`Order Number`, 
    r.`Order Status`, 
    r.`Creation Date`, 
    r.`Delivery Date`,
    r.`Total Order Weight`,
    r.`Order Via`,
    r.`Created By`,
    c.ProfileID,
    pm.PaymentMethodID,-- Linking to the PaymentMethod table
    s.SalesID,         -- Linking to the sales table
    cb.CashBackID,     -- Linking to the Cash Back table
    t.TripNumber       -- Linking to the Trip table
FROM raw_import_table r
JOIN Accounts a ON r.`Customer Code` = a.CustomerCode
JOIN Customer c ON a.AccountID = c.AccountID 
JOIN PaymentMethod pm ON r.`Payment Method` = pm.PaymentMethod
LEFT JOIN Trip t ON r.`Trip Number` = t.TripNumber 
LEFT JOIN sales s ON r.`Gross Sales` = s.GrossSales 
    AND r.`Products Promotions`=s.ProductsPromotions
    AND r.`Discount On Invoice` = s.DiscountOnInvoice
    AND r.`Customer Experience Discount` = s.CustomerExperienceDiscount
    AND r.`Returns Gross Sales` = s.ReturnsGrossSales
LEFT JOIN cashback cb ON r.`Net Sales Before Cashback`=cb.NetSalesBeforeCashback 
    AND r.`Redeemed Cashback`=cb.RedeemedCashback 
    AND r.`Net Sales After Cashback`=cb.NetSalesAfterCashback 
    AND r.`Credit Used`=cb.CreditUsed 
    AND r.`Returned Cashback`=cb.ReturnedCashback

In [ ]:
%%sql
ALTER TABLE Orders 
    MODIFY OrderNumber VARCHAR(100)

RuntimeError: (pymysql.err.OperationalError) (1060, "Duplicate column name 'OrderNumber'")

In [ ]:
%%sql
SET FOREIGN_KEY_CHECKS = 0;
ALTER TABLE CashBack ADD OrderNumber VARCHAR(100) ;
ALTER TABLE sales ADD OrderNumber VARCHAR(100) ;
ALTER TABLE Orders DROP COLUMN SalesID ;
ALTER TABLE Orders DROP COLUMN CashBackID ;
SET FOREIGN_KEY_CHECKS = 1;
/*CONSTRAINT FOREIGN KEY() REFERENCES Orders()*/

In [ ]:
%%sql
SELECT `Order Number` -- to know the duplicated columns there was about 4890 duplicated row from 488000
FROM raw_import_table -- as the duplication could be in the just the col not the row i tested and confirmed the i was an insert problem
GROUP BY `Order Number`
HAVING COUNT(*) > 1;

# Initially
the Orders table contained foreign keys for SalesID and CashBackID. However, the complex joins and conditional logic required to populate these fields during a high-volume migration created a "circular dependency" that throttled performance.
1. The Fix: I reversed the cardinality. Since these are 1-to-1 relationships, I moved the OrderNumber foreign key into the sales and cashback tables.
2. The Result: This allowed for a linear, "Orders-First" insertion strategy, removing the need for complex lookups during the primary ingestion phase.

# the SQL INSERT was still slow 
After researching database engine behavior, I implemented two critical optimizations:

1. Atomic Transactions: Instead of committing every single row (which creates massive Disk I/O overhead), 
I wrapped the insertion logic in a Transaction. By batching the commits, I reduced the overhead significantly.

2. Disabling Constraints during Ingestion: I temporarily disabled Foreign Key Checks and Unique Checks during the bulk load.
Note: This was only done after validating data integrity in the staging table to ensure the speed gain didn't result in "dirty" data.

In [ ]:
%%sql
SET FOREIGN_KEY_CHECKS = 0;
SET UNIQUE_CHECKS = 0;

START TRANSACTION;

INSERT IGNORE INTO Orders (
    OrderNumber, OrderStatus, CreationDate, DeliveryDate, 
    DeliveredDate,TotalOrderWeight, OrderVia, CreatedBy, 
    ProfileID, PaymentMethodID, TripNumber
)
SELECT DISTINCT
    r.`Order Number`, 
    r.`Order Status`, 
    r.`Creation Date`, 
    r.`Delivery Date`,
    r.`Delivered Date`,
    r.`Total Order Weight`,
    r.`Order Via`,
    r.`Created By`,
    c.ProfileID,
    pm.PaymentMethodID,
    t.TripNumber
FROM raw_import_table r
JOIN Accounts a ON r.`Customer Code` = a.CustomerCode
JOIN Customer c ON a.AccountID = c.AccountID 
JOIN PaymentMethod pm ON r.`Payment Method` = pm.PaymentMethod
LEFT JOIN Trip t ON r.`Trip Number` = t.TripNumber;
-- Note: sales and cashback joins removed because their IDs aren't being inserted here that's way the query was slow?
COMMIT;

SET FOREIGN_KEY_CHECKS = 1;
SET UNIQUE_CHECKS = 1;